/* slideshow */
 .slideshow-container {
	 max-width: 100%;
	 position: relative;
	 margin: auto;
}

 .slideshow-container .mySlides {
	 display: none;
}
 .slideshow-container .prev, .slideshow-container .next {
	 cursor: pointer;
	 position: absolute;
	 top: 50%;
	 width: auto;
	 padding: 20px;
	 margin-top: -22px;
	 color: white;
	 font-weight: bold;
	 font-size: 18px;
	 transition: 0.6s ease;
	 border-radius: 0 8px 8px 0;
	 user-select: none;
	 background-color: rgba(0, 0, 0, 0.1);
}
 .slideshow-container .next {
	 right: 0;
	 border-radius: 8px 0 0 8px;
}
 .slideshow-container .prev:hover, .slideshow-container .next:hover {
	 background-color: rgba(0, 0, 0, 0.6);
}

 .slideshow-container .active, .slideshow-container .dot:hover {
	 background-color: #717171;
}
 .slideshow-container .fade {
	 animation-name: fade;
	 animation-duration: 1.5s;
}
 @keyframes fade {
	 from {
		 opacity: 0.4;
	}
	 to {
		 opacity: 1;
	}
}
